@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

:root {
    --primary-color: #f1f7fe;
    --primary-color-alt: #d6edff; 
    --nav-color: color(display-p3 0.73 0.89 1);
    --hover-color: color-mix(in srgb, rgb(60, 176, 214) 50%, rgb(0, 100, 150) 50%);
    --dark-primary-color: #11232f ;
    --dark-primary-color-alt: #273543; 
    
    /* Fonts with fallback */
    --font-main: 'Source Sans Pro', Arial, sans-serif;
    
    --spacing: 2rem;
}

body {
    background: linear-gradient(to bottom, var(--primary-color, white), var(--primary-color-alt, white)); 
    font-family: var(--font-main, 'Arial');
    margin: 0.5rem 2.5rem;
    padding: 0;
}

.darkMode {
    background: linear-gradient(to bottom, var(--dark-primary-color, white), var(--dark-primary-color-alt, white)); 
    color: white
}

.darkModeSubsection {
    background: #80aac9 ;
    color: white;
}

header {
    background: var(--nav-color, blue);
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: max-content;
    align-items: center;
    margin: auto;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: var(--font-main, 'Arial');
    font-size: 1.1rem;
    padding: 1.5rem 1rem;
    text-align: center;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: white;
    background-color: var(--hover-color, blue);
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

/* Small Screens (Phones - max 600px) */
@media (max-width: 600px) {

    nav {
        padding: 0.5rem;
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 60%;
        background: var(--nav-color, blue);
        padding: 1rem;
        text-align: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-links a {
        display: block;
        padding: 1rem;
    }

    .nav-links.open {
        display: flex;
    }

}