<!DOCTYPE html>
<html>
    <body>
        <header>
            <nav>
                <a href="./index.html">About Me</a>
                <a href="./pages/education.html">Education</a>
                <a href="./pages/internships.html">Internships & Projects</a>
                <a href="./pages/extracurriculars.html">Extracurricular Activities</a>
                <a href="./pages/hobbies.html">Hobbies & Interests</a>
                <a href="./pages/experiment.html">Experiments page</a>
            </nav>
        </header>
    </body>
</html>